* {
    font-family: sans-serif;
}

.text-color-w {
    color: white;
    padding-top: 4rem;
    padding-left: 4rem;

}

.room-list li{
    list-style: none;
}

.font-p {
    width: 50%;
    font-size: 2rem;
    font-weight: lighter;
}

#messageParagraph {
    color: green;
    font-weight: 400;
}

h3, h5{
    font-weight: 400;
}

.border-total-cost {
    border: 2px solid lightgray;
    padding: 1rem;
}