* {
    font-family: sans-serif;
}

.text-color-w {
    color: white;

}

.room-list li{
    list-style: none;
}

.font-p {
    width: 50%;
    font-size: 2rem;
    font-weight: lighter;
}

#messageParagraph {
    color: green;
    font-weight: 400;
}